@{
    @model Services.Models.AutorViewModel;
    Layout = "LayoutPainel";
}


<!-- Main Content -->
<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Autor</h1>
        <p class="mb-4">
            Preencha as informações abaixo para registrar um novo Autor.
        </p>

        <!-- Form -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Novo cadastro</h6>
            </div>
            <div class="card-body">
                
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                    <div class="field">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Nome)
                            @Html.EditorFor(x => x.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Youtube)
                            @Html.EditorFor(x => x.Youtube, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Twitter)
                            @Html.EditorFor(x => x.Twitter, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Linkedin)
                            @Html.EditorFor(x => x.Linkedin, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Github)
                            @Html.EditorFor(x => x.Github, new { htmlAttributes = new { @class = "form-control" } })
                        </div>                       
                        <div class="form-group">                           
                            @Html.LabelFor(x => x.Biografia)
                            @Html.TextAreaFor(x => x.Biografia,  new { htmlAttributes = new { @class = "form-control" } })
                        </div>                       
                    </div>
                    <button type="submit" class="ui primary button">Enviar</button>
                }
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
<!-- End of Content Wrapper -->

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/painel/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('Biografia');
    </script>
}