@{
    @model Services.Models.ListarAutoresViewModel;
    Layout = "LayoutPainel";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <a asp-action="novo" asp-controller="autor"><button class="btn btn-info mb-3">Novo</button></a>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Autores</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Data</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model.Autores)
                        {
                            <tr>
                                <td>@a.Id</td>
                                <td>@a.Nome</td>
                                <td>@a.DataCriacao</td>
                                <td>
                                    <a asp-action="remover" asp-controller="autor" asp-route-id="@a.Id"><button class="btn btn-danger mb-3">Excluir</button></a>
                                    <a asp-action="editar" asp-controller="autor" asp-route-id="@a.Id"><button class="btn btn-info mb-3">Editar</button></a>
                                </td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}