@{
    @model Services.Models.ListarSobresViewModel;
    Layout = "LayoutPainel";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <a asp-action="novo" asp-controller="autor"><button class="btn btn-info mb-3">Novo</button></a>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sobre</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Data</th>
                            <th>Status</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sobre in Model.Sobres)
                        {
                            <tr>
                                <td>@sobre.Id</td>
                                <td>@sobre.Descricao</td>
                                <td>@sobre.DataCriacao</td>
                                @if (sobre.StatusAtivo == 'S')
                                {
                                    <td><span class="badge badge-pill badge-success">Ativo</span></td>
                                }
                                else
                                {
                                    <td><span class="badge badge-pill badge-dark">Desabilitado</span></td>
                                }
                                <td>
                                    @if (sobre.StatusAtivo == 'S')
                                    {
                                        <a asp-action="editar" asp-controller="autor" asp-route-id="@sobre.Id"><button class="btn btn-info mb-3">Editar</button></a>
                                    }
                                    else
                                    {
                                        <a asp-action="remover" asp-controller="sobre" asp-route-id="@sobre.Id"><button class="btn btn-danger mb-3">Excluir</button></a>
                                        <a asp-action="editar" asp-controller="autor" asp-route-id="@sobre.Id"><button class="btn btn-info mb-3">Editar</button></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}