@{
    @model Services.Models.ListarPostsViewModel;
    Layout = "LayoutBlog";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @foreach (var post in Model.Posts)
            {
                <!-- Post preview-->
                <div class="post-preview">
                    <a asp-action="visualizar" asp-controller="Post" asp-route-id="@post.Id">
                        <h2 class="post-title">@post.Titulo</h2>
                        <h3 class="post-subtitle">@post.Subtitulo</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">@post.Autor.Nome</a>
                        on @String.Format("{0: dd/MM/yyyy hh:mm}", post.DataCriacao)
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            }
            <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary text-uppercase" asp-action="olders" asp-controller="Blog">Older Posts →</a>
            </div>
        </div>
    </div>
</div>

